* {
  font-family: 'Nunito', sans-serif;
}
body {
  /*background-color: #383F51;*/
}

.box {
  margin-top: 2%;
  /*height: 650px;*/
  display: flex;
}

.about {
  /*background-color: #DDDBF1;*/
  background-color: whitesmoke;
  /*height: 100%;*/

}

.project-col {
    /*background-color: #AB9F9D;*/
  /*height: 100%;*/
  /*color: #DDDBF1;*/
}

.project-menu {


}

.project {
  display: none;
}

#init {
  display: block;
  text-align: center;
}

a {
  color: #3C4F76;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

img:hover {
  background-color: #DDDBF1;
}

.thumbnail {
  width: 50%;
  margin: 10px;
}

.projectLink {
  cursor: pointer;
}
